.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    margin-left: 3rem;


    @include respond(max-800) {
        display: flex;
        // justify-content: space-evenly;
        margin-top: 0;
    }

    @include respond(max-600) {
        justify-content: space-between;
        margin: 0;
    }

    @include respond(max-500) {
        font-size: 1.2rem;

    }

    :nth-child(3) a {
        white-space: nowrap;
    }


    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;

            @include respond(max-800) {
                margin-bottom: 0;
            }

        }

        @include respond(max-800) {
            display: flex;
            flex: 1;
        }



 
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s, width .4s;
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
        width: 100%;

        @include respond(max-800) {
            padding: 1.5rem 2rem;
        }

        @include respond(max-600) {
            padding: 1.5rem 1.5rem;
            flex-direction: column;
        }

        @include respond(max-500) {
            padding: 1.5rem 1.5rem;
            
        }
    }



    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        
        @include respond(max-600) {
            margin: 0.5rem auto;
        }
    }


}

.legal {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-grey-light-4);
    padding: 2.5rem;

    @include respond(max-800) {
        display: none;
    }
}





.detail {
    display: flex;
    padding: 4.5rem;
    background: var(--color-grey-light-1);
    border-bottom: var(--line);

 

    @include respond(max-1100) {
        padding: 3.5rem;
    }

    @include respond(max-1000) {
        padding: 3rem;
    }

    @include respond(max-900) { 
        padding: 2.5rem;
    }

    @include respond(max-800) {
        padding: 2rem;
    }

    @include respond(max-700) {
        padding: 1.5rem;
    }

    @include respond (max-600) {
        flex-direction: column;
        padding: 3.5rem;
    }

    @include respond(max-500) {
        padding: 1.5rem;
    }
}

.description {
    font-size: 1.4rem;
    background: white;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    @include shadow;
    padding: 3rem;

    @include respond(max-1100) {
        margin-right: 3.5rem;
    }

    @include respond(max-1000) {
        margin-right: 3rem;
    }

    @include respond(max-900) {
        margin-right: 2.5rem;
    }

    @include respond(max-800) {
        margin-right: 2rem;
    }

    @include respond(max-700) {
        margin-right: 1.5rem;
    }

    @include respond(max-600) {
        margin-right: 0;
        margin-bottom: 4.5rem;
    }

}

.user-reviews {
    // background: yellowgreen;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;


    @include respond(max-600) {
        // flex: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include respond(max-500) {
        // flex: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }


    // @include respond(max-800) {
    //     justify-content: space-between;
    // }
}

.user-reviews .review:nth-child(1) {
    margin-right: 0rem;
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

.list {

    margin: 3rem 0;
    border-bottom: var(--line);
    border-top: var(--line);
    padding: 3rem 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;

    }

    &__item::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        background-color: var(--color-primary);
        -webkit-mask-image: url(../../../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
    }

}

.recommend {
    font-size: 1.1rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;

    @include respond(max-1100) {
        justify-content: space-evenly;
    }

    @include respond(max-1000) {
        flex-direction: column;
    }

    &__friends {
        display: flex;
    }


    &__count {
        margin-right: auto;
        flex-shrink: 2;

        @include respond(max-1100) {
            margin-right: 0;
        }

        @include respond (max-1000) {
            margin-bottom: 3rem;
        }
    }


    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid white;

        &:not(:last-child) {
            margin-right: -1.5rem;
        }

    }

}

.cta {
    padding: 3.5rem 0;
    text-align: center;
    background-color: #fff;


    &__book-now {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 2.5rem;

    }
}

.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);


    &__title {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @include respond(max-600) {
            font-size: 1.8rem;
            padding: 1.5rem 2rem;
        }
    }

    &__stars {
        display: flex;
        margin-right: auto;
    }

    &__icon--star,
    &__icon--location {
        width: 2rem;
        height: 2rem;
        // fill: var(--color-primary);
    }

    &__icon--star:not(:last-child) {
        fill: red;
    }



    &__location {
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;

    }

    &__icon--location {
        margin-right: .5rem;

    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: white;
        align-self: stretch;
        padding: 1rem 2.25rem;
        @include flex-center;
        flex-direction: column;

        @include respond(max-600) {
            padding: 0 1.5rem;
        }
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;

        @include respond(max-600) {
            font-size: 1.8rem;
        }

    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
        white-space: nowrap;

    }
}

.gallery {
    display: flex;
        &__photo {
            width: 100%;
            display: block;
        }
    }


    .review {
        padding: 3rem;
        background-color: white;
        @include shadow;
        margin-bottom: 5rem;
        position: relative;
        overflow: hidden;
    
        @include respond(max-600) {
            width: 100%;
            align-self: stretch;
            flex: 0 1 48%;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }
    
    
    
    
        &__photo {
            box-sizing: content-box;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            border: 3px solid white;
    
        }
    
    
    
        &__text {
            margin-bottom: 2rem;
            font-size: 1.3rem;
            position: relative;
            z-index: 100;
        }
    
        &__user {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        &__user-date,
        &__user-name {
    
            margin-left: 1.5rem;
    
    
        }
    
        &__user-name {
            font-size: 1.1rem;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: .2rem;
        }
    
    
        &__rating {
            font-size: 2rem;
            color: var(--color-primary);
            font-weight: 300;
        }
    
        &__user-box {
            flex:1;
        }
    
    
        &::before {
            content: '\201C';
            position: absolute;
            top: -2.75rem;
            left: -1rem;
            line-height: 1;
            font-size: 20rem;
            font-family: sans-serif;
            color: var(--color-grey-light-3);
            z-index: 1;
        }
    }
    
    